
    <div class="row">
        <ul class="center myul">
            <div class="col l2 md3 s4 card-panel teal lighten-2">
                <li><a class="white-text" href='/admin'>Bookings</a></li>
            </div>
            <div class="col l2 md3 s4 card-panel lime accent-2">
                <li><a href='/admin/verified'>Verified Bookings</a></li>
            </div>
            <div class="col l2 md3 s4 card-panel amber lighten-2">
                <li><a href='/admin/searchverified'>Search</a></li>
            </div>
            <div class="col l2 md3 s4 card-panel red accent-3">
                <li><a class="white-text" href='/admin/customers'>Customers</a></li>
            </div>
            <div class="col l2 md3 s4 card-panel yellow accent-2">
                <li><a href='/admin/users'>Users</a></li>
            </div>
            <div class="col l2 md3 s4 card-panel pink darken-1">
                <li><a class="white-text" href='/admin/logs'>Booking Logs</a></li>
            </div>
        </ul>
    </div>
